*{
    box-sizing: border-box;
   
}
.row::after {
    content: "";
    clear: both;
    display: table;
  }
[class*="col-"]{
    padding: 15px;
    float: left;
}
.row{
    position: relative;
    top: auto;
    background-color: gainsboro;

}
.left{
    background-color: hsl(234, 85%, 45%);
    border-radius: 10px;
}
.p1{
   text-align: center;
   color: 
   hsl(241, 100%, 89%);
}
.head2{
    text-align: center;
    margin: auto;
    font-size: 3vw;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 37%
}
.round{
    
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    background-color:hsla(256, 72%, 46%, 1);
    margin: auto;
    border-style: solid;
    position: relative;
}
.p2{
    text-align: center;
    font-size: 1.5vw;
    margin: 0px;
    position: absolute;
    top: 73%;
    transform: translateY(-50%);
    left: 37%
}
h1{
    text-align: center;
    color: white;
    font-size: 2.5vw;
}
.p3{
    text-align: center;
    color: white;
    font-size: 1.5vw;
    margin-left: 44px;
    margin-right: 26px;
    margin-bottom: 25px;
}
.right{
    
    background-color: white;
    border-radius: 20px;
}
.right ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.pright{
    font-size: 1.5vw;
}
li{
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px 10px 10px 10px;
    width: 21vw;
    height: 4vw;
}
.mem{
    background-color: #fff6f5;

}
.react{
    background-color: #fffbf2;
}
.verb{
background-color: #f3f3fd;
}
.visual{
    background-color: #f2fbfa;
}
img{
    width: 1.5vw;
    height: 1.5vw;
    position: absolute;
}
.continue{
    background-color: #303b59;
    border-radius: 10px;
}
.continue p{
    text-align: center;
    font-size: 1.5vw;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;

}
/* for mobile */
[class*="col-"]{
    width: 100%;

}
@media only screen and (max-width: 768px) {
    li{
        width: 100%;
    }
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
